
html, body {
 margin: 0;
 padding: 0;
}

body {
 background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Solid_white.svg/1000px-Solid_white.svg.png");
}

h1, h3, a {
 font-family: "Lato", sans-serif;
 font-size: 40px;
 font-style: normal;
 font-weight: 900;
 letter-spacing: 2px;
 line-height: 36px;
 text-transform: uppercase;
}

p, h4 {
 font-family: "Josefin Sans", sans-serif;
 font-size: 14.4px;
 font-style: normal;
 font-weight: 600;
 letter-spacing: 1.6px;
 line-height: 21.6px;
 text-transform: uppercase;
}

/* Jumbotron */
.jumbotron {
  margin-bottom: 0;
  height: 680px;
  background: url("https://i.imgsafe.org/66b48d8f8a.jpeg") no-repeat center center;
  background-size: cover;
}

.parallax-window {
    background: transparent;
}

.jumbotron .youtube {
  margin-left: 3px;
}

.jumbotron .arrow {
  display: inline-block;
  position: relative;
  left: 47.5%;
  margin-top: 45px;
}

/* Supporting */
.supporting {
 background-color: #f24822;
 color: #fff;
}

.supporting .col-md-4{
 margin: 50px 0 50px 0;
 text-align: center;
}

.supporting h2 {
 font-size: 46px;
}

/* Featuring */
.featuring {
 background-color: #f24822;
}

.featuring .container-fluid {
  margin: 0;
  padding: 0;
}

#img1, #img2 {
  margin-left: 2px;
}

.featuring #img3 {
  margin-left: 1px;
}

.featuring img {
  outline: 3px solid black;
}

.featuring h1 {
 font-family: "Arial", sans-serif;
 color: #fff;
 font-size: 200px;
 font-weight: 600;
 float: none;
 position: absolute;
 left: 350px;
 top: 1040px;
}

/* Table */
body tbody:first-of-type tr:first-of-type {
 background-color: #000;
}

.table tbody:first-of-type tr:first-of-type {
 background-color: white;
}

.container table, .container tr, .container td {
 border-collapse: collapse;
}

.table .text1 {
  color: #000;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  line-height: 28.6px;
}

.table label {
 font-weight: 900;
 font-size: 16px;
}

.table .ProductHeader {
  font-size: 30px;
}

.table a {
  font-size: 26px;
  transition-duration: 0.5s;
}

.table a:hover {
 text-decoration: none;
 color: #F24822;
 transition-duration: 0.5s;
}

.table a:active {
 text-decoration: none;
 color: #F24822;
}

.table .sideBar {
 text-align: center;
}

.table .sideBarLink {
 text-align: center;
 background-color: #F24822;
 padding-left: 10px;
}

.table .sideBar a:hover {
  color: #fff;
}

.table .container {
border-top: 2px solid #f24822;
border-bottom: 2px solid #f24822;
padding: 10px;
}

.bottomBar {
max-height: 15px;
}

td .bottomSides {
 max-height: 30px;
}

/* Footer */
.footer h4 {
 margin: 20px 40px 40px 40px;
 color: #f24822;
 font-size: 16px;
}

/* Media Queries */
@media (max-width: 1200px) {
    h1 {
      display: none;
    }
  }

  @media (max-width: 1200px) {
    .featuring {
      display: none;
    }
  }

  @media (max-width: 1000px) {
    .jumbotron .arrow {
      display: none;
    }
  }
